.cell {
  background: grey;
  padding: 5px;
  width: 200px;
  height: 150px;
  margin-top: 10px;
  line-height: 150px;
  color: white;
  font-weight: bold;
  font-size: 5em;
  text-align: center;
  cursor: pointer;
}

.cell-alert {
  background-color: red;
}

.cell-win {
  background-color: green;
}
