.grid {
  /* We first create a flex layout context */
  display: flex;

  /* Then we define the flow direction
       and if we allow the items to wrap
     * Remember this is the same as:
     * flex-direction: row;
     * flex-wrap: wrap;
     */
  flex-flow: row wrap;

  /* Then we define how is distributed the remaining space */
  justify-content: space-around;

  list-style: none;
  max-width: 650px;
  margin: 2rem auto 0 auto;
}

/* https://stackoverflow.com/questions/14043359/set-html-canvas-as-page-background */
canvas {
  width: 100%;
  height: 500px;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  /* max-width: 650px; */
  /* margin: 2rem auto 0 auto; */
}
